.ant-select {
    height: 100%;
    width: 330px;
    font-size: 48px!important;
}
.ant-select-selection-item{
    font-size: 16px!important;
}
@media (48rem >= width) {
    .ant-select {
        height: 60px;
        width: 100%;
        font-size: 18px;
    }
}