.ant-btn-lg {
    height: 60px;
}

.ant-select-selection-item {
    font-size: 18px;
}

.ant-input-affix-wrapper {
    height: 100%;
    width: 330px;
    font-size: 18px;
}

.ant-input{
    font-size: 16px!important;
}
@media (48rem >= width) {
    .ant-input-affix-wrapper {
        height: 60px;
        width: 100%;
        font-size: 18px;
    }
}